<a href="https://colab.research.google.com/github/yishairasowsky/42Robotics-AI-Machine-Learning-Quantum-Circuits-Tensorflow-Estimator/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
prayer_df = pd.read_csv('/content/prayer-sources.csv', encoding="latin-1")
abraham_df = pd.read_csv('/content/abraham-sources.csv', encoding="latin-1")
moses_df = pd.read_csv('/content/moses-sources.csv', encoding="latin-1")

# df = pd.read_csv('/content/prayer-sources.csv', encoding="latin-1")

In [0]:
prayer_df['topic'] = 'prayer'
prayer_df.tail()

                                                    Ref  ...   topic
1047  Siddur Ashkenaz, Weekday, Shacharit, Amidah, H...  ...  prayer
1048  Siddur Ashkenaz, Weekday, Shacharit, Concludin...  ...  prayer
1049                                 Unetaneh Tokef 2-5  ...  prayer
1050                              Tosefta Berakhot 1:11  ...  prayer
1051                               Tosefta Berakhot 4:5  ...  prayer

[5 rows x 4 columns]

In [0]:
abraham_df['topic'] = 'abraham'
abraham_df.tail()

                                                   Ref  ...    topic
642                        Pirkei DeRabbi Eliezer 32:8  ...  abraham
643  Mishneh Torah, Foreign Worship and Customs of ...  ...  abraham
644  Mishneh Torah, Foreign Worship and Customs of ...  ...  abraham
645              Mishneh Torah, Gifts to the Poor 10:1  ...  abraham
646                       Mishneh Torah, Mourning 14:2  ...  abraham

[5 rows x 4 columns]

In [0]:
moses_df['topic'] = 'moses'
moses_df.tail()

                                    Ref  ...  topic
730                  Devarim Rabbah 9:9  ...  moses
731       Yalkut Shimoni on Torah 405:1  ...  moses
732    Mekhilta d'Rabbi Yishmael 18:3:1  ...  moses
733              Avot D'Rabbi Natan 6:2  ...  moses
734  Sefat Emet, Exodus, Beshalach 30:2  ...  moses

[5 rows x 4 columns]

In [0]:
frames = [moses_df,abraham_df,
          prayer_df
          ]
df = pd.concat(frames)
df.sample(5)

                                         Ref  ...    topic
174        Mekhilta d'Rabbi Yishmael 19:14:1  ...    moses
163                    Bereishit Rabbah 48:8  ...  abraham
231                     Sefer Chasidim 588:1  ...   prayer
627  Sefat Emet, Deuteronomy, Vaetchanan 1:5  ...   prayer
125                   Avodah Zarah 17a:13-15  ...   prayer

[5 rows x 4 columns]

In [0]:
df = df[['En','topic']]
df.sample(5)

                                                    En    topic
208  The forms of all the blessings were establishe...   prayer
559  And the LORD said: âIf I find in Sodom fifty...  abraham
380                                                NaN  abraham
915  For though my father and my mother have forsak...   prayer
543  Alternatively: âGrace is deceitfulâ; this ...    moses

In [26]:
df.dropna(inplace=True)
df.sample(5)

                                                    En   topic
100  It is also used figuratively to denote: to aba...   moses
981  The brothers, Abaye bar Avin and Rabbi á¸¤anin...  prayer
434  MISHNA: Incidental to the discussion of the re...   moses
6    That was also taught in a baraita : One should...  prayer
326  Moses prayed to God to grant him knowledge of ...   moses